#carro-imagem {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    display: block;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

#velocidade {
    font-weight: bold;
}

#status {
    font-weight: bold;
}

/* Estilo para quando o carro está ligado */
#status.ligado {
    color: green;
}

/* Estilo para quando o carro está desligado */
#status.desligado {
    color: red;
}